<!-- static 파일 선언-->
{% load static %}
<!DOCTYPE html>
<html>

    <head>
        <!-- title 지정 -->
        <title>Jal Clean</title>

        <!-- Favicon 아이콘 설정 -->
        <link rel="shortcut icon" href="{% static 'favicon/favicon.ico' %}" />

        <!-- script 선언 내용 -->
        {% block script %}
        {% endblock script %}

        <!-- jquery 선언 -->
        <script src="http://code.jquery.com/jquery-latest.js"></script>

        <!-- css 선언 내용 -->
        {% block css %}
        {% endblock css %}

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    </head>

    <body>
        <!-- Body 태그 내부 내용 -->
        {% block content %}
        {% endblock content %}

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
        <!-- javascript 선언 내용 -->
        {% block js %}
        {% endblock js %}
    </body>
</html>