<!-- Base.html 상속 -->
{% extends 'Base.html' %}
<!-- static 파일 선언-->
{% load static %}

<!-- css 선언 -->
{% block css %}
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">

<link rel="stylesheet" type="text/css" href="{% static 'css/Main.css' %}">
{% endblock css %}

<!-- Body 태그 내용 -->
{% block content %}
<div class="container-fluid main-base-shape pb-3">
    <div class="form-group row mt-1">
        <div class="col-12 pl-0 pr-0 main-first-shape">
            <img class="main-first-img" src="{% static 'img/Main_First.png' %}">
            <button type="button" class="main-first-btn" onclick="move_to_request();">견적 신청</button>
            <div class="main-first-unit">
                <img class="phone-call-img pt-1 pt-sm-0" src="{% static 'img/call_img.png' %}">
                <a class="phone-call-num pt-2" href="tel:070-7807-2511">070-7807-2511</a>
            </div>
        </div>
    </div>
    <div class="mt-5 row">
        <div class="col-12">
            <div class="form-group row">
                <label class="col-12 col-sm-3 text-center item-title">청소 항목</label>
                <div class="col-12 col-sm-9 text-left">
                    <div class="row">
                        {% for temp in clean %}
                        <div class="col-6 col-sm-4 col-md-3 px-1 text-center text-sm-left">
                            {{temp}}
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-2 row">
        <div class="col-12">
            <div class="form-group row">
                <label class="col-12 col-sm-3 text-center item-title">시공 항목</label>
                <div class="col-12 col-sm-9 text-left">
                    <div class="row">
                        {% for temp in construct %}
                        <div class="col-6 col-sm-4 col-md-3 px-1 text-center text-sm-left">
                            {{temp}}
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-5 mb-5 row sample-img-div">
        <div class="col-12 col-sm-6 col-md-4 mb-3 mb-sm-2 px-1">
            <img src="{% static 'img/Main_Sample_img_1.png' %}"/>
        </div>
        <div class="col-12 col-sm-6 col-md-4 mb-3 mb-sm-2 px-1">
            <img src="{% static 'img/Main_Sample_img_2.png' %}"/>
        </div>
        <div class="col-12 col-sm-6 col-md-4 mb-3 mb-sm-2 px-1">
            <img src="{% static 'img/Main_Sample_img_3.png' %}"/>
        </div>
        <div class="col-12 col-sm-6 col-md-4 mb-3 mb-sm-2 px-1">
            <img src="{% static 'img/Main_Sample_img_4.png' %}"/>
        </div>
        <div class="col-12 col-sm-6 col-md-4 mb-3 mb-sm-2 px-1">
            <img src="{% static 'img/Main_Sample_img_5.png' %}"/>
        </div>
        <div class="col-12 col-sm-6 col-md-4 px-1">
            <img src="{% static 'img/Main_Sample_img_6.png' %}"/>
        </div>
    </div>
    {% if reviews %}
    <div class="mt-5 mb-5 row">
        <label class="col-12 col-sm-2 text-center pb-2 item-title">실시간 후기</label>
        <div class="swiper-container swipe-review-shape">
            <div class="swiper-wrapper">
                {% for temp in reviews %}
                <div class="swiper-slide">
                    <div class="container-fluid review-swipe-div py-3">
                        <div class="row">
                            <div class="col-12 col-sm-2 text-center text-sm-right">
                                <img class="star" src="/static/img/Star{{temp.scope}}.png">
                            </div>
                            <div class="col-12 mx-2 mx-sm-0 col-sm-8">
                                <div class="row">
                                    <div class="col-12 text-left">
                                        <b>{{temp.writer}}</b>
                                    </div>
                                    <div class="col-12 text-left review-value">
                                        {{temp.review_value}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 mx-2 mx-sm-0 col-sm-2 text-sm-right review-date">
                                <span class="text-muted">{{temp.review_date|date:"Y-m-d H:m:s"}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% else %}
    <div class="swiper-container empty-review">
        <div class="swiper-wrapper">
            <div class="swiper-slide"></div>
        </div>
    </div>
    {% endif %}
    <div class="row">
        <div class="col-12 mt-1 text-center blog-link">
            <div class="row">
                <div class="col-12 pb-1">
                    <button class="blog-link-explain" onclick="move_to_blog();">공식 블로그</button>
                </div>
                <div class="col-12">
                    <a id="move-to-blog" href="https://blog.naver.com/wogud6138" target="_blank">https://blog.naver.com/wogud6138</a>
                </div>
            </div>
            
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12 text-center main-slogan mt-1 pb-2">
            <b>내 집처럼 정성을 다하겠습니다.</b>
        </div>
    </div>
    <div class="mt-3 mb-3 pt-3 row last-company-info">
        <div class="col-12 col-sm-3 col-md-5 main-last-img">
            <img src="{% static 'img/Jar_Logo_2.png' %}">
        </div>
        <div class="mt-2 col-12 col-sm-4 col-md-3 main-last-info">
            <span>
                <b>회사명</b> : 잘나가는 청소
                <br/>
                <b>대표자</b> : 박재형
                <br/>
                <b>대표번호</b> : <a href="tel:010-7222-2511">010-7222-2511</a>
            </span>
        </div>
        <div class="mt-2 col-12 col-sm-4 col-md-3 main-last-info">
            <span>
                <b>주소</b>
                <br/>
                지번 : 서울특별시 영등포구 대림동 682-1
                <br/>
                도로명 : 서울특별시 영등포구 가마산로 360
            </span>
        </div>
    </div>
</div>
{% endblock content %}

<!-- javascript 선언 -->
{% block js %}
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

<script type="text/javascript" src="{% static 'js/Main.js' %}"></script>
{% endblock js %}