<!-- Base.html 상속 -->
{% extends 'Base.html' %}
<!-- static 파일 선언-->
{% load static %}

<!-- css 선언 -->
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/Request_List.css' %}">
{% endblock css %}

<!-- Body 태그 내용 -->
{% block content %}
<h2>{{name}}님의 예약 현황</h2>
{% if requestList %}
<table>
    {% for i, temp in requestList %}
    <tr onclick="select_request(this);" class="request_list">
        <td class="request_num"><input type="hidden" value="{{temp.r_num}}"/></td>
        <td>{{i}}</td>
        <td>{{temp.request_date}}</td>
        <td>{{temp.request_address}}</td>
        <td>{{temp.upload_date|date:"Y-m-d H:m:s"}}</td>
    </tr>
    <tr class="input_password">
        <td colspan="3">
            <form id="{{temp.r_num}}" method="POST" action="/reading_request?r_num={{temp.r_num}}">
                {% csrf_token %}
                <input class="password" type="password" name="readPassword"/>
            </form>
        </td>
        <td><input type="button" value="확인" onclick="check_password('{{temp.r_num}}');"/></td>
    </tr>
    {% endfor %}
</table>
<p/>
{% else %}
<h4>예약 기록이 없습니다.</h4>
{% endif %}
<input type="button" value="예약하기" onclick="move_to_request();"/>
{% endblock content %}

<!-- javascript 선언 -->
{% block js %}
<script type="text/javascript" src="{% static 'js/Request_List.js' %}"></script>
{% endblock js %}