/* css 코드 */

html, body{
    width: 100%;
    height: 100%;
}

.shape-base{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 0 10px;
}
@media (min-width: 1002px){
    .shape-base{
        margin: auto;
        width: 992px;
        padding: 0;
    }
}

.request-list-Logo{
    width: 100%;
}

.request-list-Logo img{
    max-width: 80px;
}

.Logo-click-div{
    cursor: pointer;
}