/* css 코드 */

html, body{
    width: 100%;
    height: 100%;
}

body{
    font-family: 'NanumSquareRound',sans-serif;
}

.shape-base{
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 0 10px;
}

.base-logo-img{
    width: 80px;
    cursor: pointer;
}


.base-logout-unit{
    display: none;
}

.base-num-div{
    display: none;
    font-weight: 800;
    color : rgb(118, 196, 208);
}

.blog-link-explain{
    color : rgb(77, 77, 77);
}

@media (min-width: 768px) {
    .base-num-div{
        display: flex;
    }
}
@media (min-width: 1002px){
    .shape-base{
        margin: auto;
        width: 992px;
        padding: 0;
    }
}