/* css 코드 */

html, body{
    width: 100%;
    height: 100%;
}

body{
    font-family: 'NanumSquareRound',sans-serif;
}

.shape-base{
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 0 10px;
}
@media (min-width: 1002px){
    .shape-base{
        margin: auto;
        width: 992px;
        padding: 0;
    }
}

.base-logo-img{
    width: 80px;
    cursor: pointer;
}


.base-logout-unit{
    display: none;
}