/* css 코드 */

.main-base-shape{
    white-space: nowrap;
}

.main-first-shape{
    position: relative;
}

.main-first-img{
    width: 100%;
    opacity: 0.55;
}

.main-first-btn{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-100%);
    width: 110px;
    height: 32px;
    font-size: 15px;
    border: 0 solid;
    background-color:rgb(118, 196, 208);
    color: #fff;
    font-weight: 600;
}

.main-first-unit{
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(0);
    display:flex;
    align-items: center;
    justify-content: center;
}

.phone-call-img{
    display: block;
    height: 25px;
    margin-right: 10px;
}

.phone-call-num{
    color: rgb(118, 196, 208);
    font-size: 25px;
    white-space: nowrap;
    vertical-align: middle;
}

.item-title{
    font-size: 20px;
    font-weight: 600;
    color:rgb(118, 196, 208);
}

.sample-img-div img{
    width: 100%;
    opacity: 0.85;
}

.star{
    width: 50px;
}

.review-value{
    white-space: normal;
    word-break: break-all;
}

.review-date{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-end;
    font-size: 13px;
}

.swipe-review-shape{
    width: 100%;
    height: 300px;
}

.review-swipe-div{
    border: 1px solid #e8ebee;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.03);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.03);
    background-color: #fff;
}

.last-company-info{
    border-top: 1px solid #dadada;
}

.main-last-img{
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
}

.main-last-img img{
    height: 100%;
}

.main-last-info{
    font-size: 12px;
    color: rgb(124, 124, 124);
    text-align: center;
}

.main-slogan{
    font-size: 20px;
    color: rgb(118, 196, 208);
}

.blog-link-explain{
    border: 0;
    background-color: transparent;
    border-bottom: 1px solid #999;
    padding: 0;
    color: #999;
    font-size: 18px;
}

@media (min-width: 430px){
    .phone-call-num{
        font-size: 30px;
    }
    .phone-call-img{
        height: 30px;
    }
    .star{
        width: 60px;
    }
    .swipe-review-shape{
        height: 280px;
    }
    .main-slogan{
        font-size: 25px;
    }
}

@media (min-width: 576px) {
    .phone-call-num{
        font-size: 40px;
    }
    .phone-call-img{
        height: 40px;
    }
    .main-first-btn{
        width: 150px;
        height: 40px;
        font-size: 16px;
    }
    .star{
        width: 70px;
    }
    .swipe-review-shape{
        height: 250px;
    }
    .main-last-img{
        height: 75px;
    }
    .main-last-info{
        text-align: left;
    }
    .main-first-img{
        opacity: 0.7;
    }
}

@media (min-width: 768px) {
    .main-first-btn{
        width: 180px;
        height: 50px;
        font-size: 18px;
    }
    .star{
        width: 80px;
    }
    .swipe-review-shape{
        height: 220px;
    }
    .phone-call-num{
        color: rgb(118, 196, 208);
    }
    .main-first-img{
        opacity: 1.0;
    }
}

@media (min-width: 992px) {
    .swipe-review-shape{
        height: 200px;
    }
}