/* css 코드 */

.request-base-shape{
    background-color: rgba(214, 214, 214, 0.1);
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    border-radius: 6px;
}

.request-info-shape{
    font-size: 13px;
}

@media (min-width:350px){
    .request-info-shape{
        margin-left: 5% !important;
        margin-right: 5% !important;
        font-size: 15px !important;
    }
}
@media (min-width:570px){
    .request-info-shape{
        font-size: 17px !important;
    }
    .request-label{
        width: 100px !important;
    }
}
@media (min-width:1002px){
    .request-info-shape{
        font-size: 20px !important;
    }
    .request-label{
        width: 120px !important;
    }
}

.update_relpy{
    display: none;
}
.review-shape{
    border-top: 1.5px solid #e0e0e0;
}

.review-div{
    border: 1px solid #e8ebee;
    border-radius: 6px;
    background-color: #fff;
}

.reply-shape{
    border-top: 1.5px solid #e0e0e0;
}

.review-star{
    display: flex;
    align-items: center;
    justify-content: center;
}

.Star{
    width: 80px;
}

.review-date-div{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    white-space: nowrap;
}

.review-date{
    font-size: 11px;
}

.request-label{
    white-space: nowrap;
    width: 75px;
    margin-left: 0;
}

.request-values{
    word-break: keep-all;
}

.reply-div{
    display: flex;
    width: 100%;
    padding: 10px;
    min-height: 90px;
    border: 1px solid #e8ebee;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.03);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.03);
    background-color: #fff;
}

.reply-div ~ .reply-div{
    margin-top: 16px;
}

.reply-contents{
    width: 100%;
    font-size: 16px;
    margin: 0 16px;
}

.update_relpy{
    display: flex;
    flex-direction: column;
    display: none;
}

.base_reply{
    display: flex;
    flex-direction: column;
}

.input-reply{
    padding: 10px;
    height: 90px;
    border: 1px solid #e8ebee;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.03);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.03);
    background-color: #fff;
    margin-top: 16px;
}

.reply-input{
    width: 75% !important;
    min-width: 200px !important;
}

.reply-button-div{
    width: 25%;
    display: flex;
    justify-content: center;
}

@media (max-width:670px){
    .input-reply{
        height: 130px !important;
    }

    .reply-input{
        width: 100% !important;
        padding-right: 3rem!important;
    }
    
    .reply-button-div{
        width: 100% !important;
    }
}