/* css 코드 */

.request-base-shape{
    background-color: rgba(214, 214, 214, 0.1);
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    border-radius: 6px;
}

.update_relpy{
    display: none;
}
.review-shape{
    border-top: 1.5px solid #e0e0e0;
}

.review-div{
    border: 1px solid #e8ebee;
    border-radius: 6px;
    background-color: #fff;
}

.reply-shape{
    border-top: 1.5px solid #e0e0e0;
}

.review-star{
    display: flex;
    align-items: center;
    justify-content: center;
}

.Star{
    width: 80px;
}

.review-date-div{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    white-space: nowrap;
}

.review-date{
    font-size: 11px;
}

.request-label{
    white-space: nowrap;
}

.request-values{
    word-break: keep-all;
}

.request-memo{
    word-break: break-all;
}

.reply-div{
    display: flex;
    width: 100%;
    padding: 10px;
    min-height: 90px;
    border: 1px solid #e8ebee;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.03);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.03);
    background-color: #fff;
}

.reply-div ~ .reply-div{
    margin-top: 16px;
}

.reply-contents{
    width: 100%;
    font-size: 16px;
    margin: 0 16px;
}

.update_relpy{
    display: flex;
    flex-direction: column;
    display: none;
}

.base_reply{
    display: flex;
    flex-direction: column;
}

.input-reply{
    padding: 10px;
    height: 90px;
    border: 1px solid #e8ebee;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.03);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.03);
    background-color: #fff;
    margin-top: 16px;
    font-size: 16px;
}

.reply-input{
    margin: 0 16px;
}

.request-base-shape{
    word-break: keep-all;
    font-size: 13px;
}

@media (min-width: 576px) {
    .request-base-shape{
        font-size: 14px;
    }
}

@media (min-width: 768px) {
    .request-base-shape{
        font-size: 15px;
    }
}

@media (min-width: 992px) {
    .request-base-shape{
        font-size: 16px;
    }
}