/* css 코드 */

.request-list-base{
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    margin: auto;
}

.request_list{
    cursor: pointer;
}

.request_num{
    display: none;
}

.input_password{
    display: none;
}

.input_review{
    display: none;
}

.input_review:hover{
    background-color: white !important;
}

.star a{
    font-size: 25px;
    text-decoration: none;
    color: rgba(128,128,128,0.4);
}

.star a.on{
    font-size: 25px;
    color: rgb(255, 255, 0);
}

table thead tr th{
    font-size: 20px;
}

table tbody tr td{
    word-break: keep-all;
}

@media(max-width : 530px){
    table tbody{
        font-size: 90%;
    }
}

@media(max-width : 490px){
    table tbody{
        font-size: 80%;
    }
}

@media(max-width : 450px){
    table tbody{
        font-size: 70%;
    }
}

@media(max-width : 410px){
    table tbody{
        font-size: 60%;
    }
}