/* css 코드 */

.request-list-base{
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    margin: auto;
}

.request_list{
    cursor: pointer;
}

.request_num{
    display: none;
}

.input_password{
    display: none;
}

.input_review{
    display: none;
}

.input_review:hover{
    background-color: white !important;
}

.star a{
    font-size: 25px;
    text-decoration: none;
    color: rgba(128,128,128,0.4);
}

.star a.on{
    font-size: 25px;
    color: rgb(255, 255, 0);
}

table thead tr th{
    font-size: 20px;
}

table{
    word-break: keep-all;
}

table tbody{
    font-size: 13px;
}

@media (min-width: 576px) {
    table tbody{
        font-size: 14px;
    }
}

@media (min-width: 768px) {
    table tbody{
        font-size: 15px;
    }
}

@media (min-width: 992px) {
    table tbody{
        font-size: 16px;
    }
}