/* css 코드 */

.request-base-shape{
    background-color: rgba(214, 214, 214, 0.1);
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    border-radius: 6px;
    width: 100%;
}

.request-info-shape{
    width: 100%;
}

.label-div{
    white-space: nowrap;
}

.size-unit{
    min-width: 47px;
}

.checkbox-div{
    margin-right: 15px;
}

.checkbox-label-click{
    cursor: pointer !important;
}

.memo-size{
    height: 100px !important;
    resize: none !important;
}

.button-middle{
    display: none !important;
}

@media (min-width: 992px) {
    .empty-div{
        display: none;
    }
    .button-default{
        display: none !important;
    }
    .button-middle{
        display: flex !important;
    }
}