/* css 코드 */

.Show{
    max-height: 97%;
    overflow: auto;
}

.review-div{
    display: inline-block;
    width: 70%;
    height: 100px;
    background-color: rgba(255, 251, 0, 0.2);
    padding: 10px;
    border-radius: 10px;
}

.Star{
    width: 80px;
    position: relative;
    top: 15px;
}

.float-left{
    float: left;
    margin-right: 10px;
    font-size: 14pt;
}

.float-left b{
    font-size: 14pt;
}

.review-value{
    max-width: 800px;
    text-overflow: ellipsis;
    word-break: break-all;
    max-height: 50px;
    overflow: auto;
}

.float-right{
    float: right;
}

.float-right input{
    float: right;
}

.float-right span{
    position: relative;
    float: right;
    font-size: 8pt;
    top: 30px;
}