/* css 코드 */

/* 사이드바 */
html, body{
    margin: 0px;
    width: 100%;
    height: 100%;
}

.sidebar{
    width: 300px;
    height: 100%;
    float: left;
    background-color: aqua;
}

.content{
    height: 100%;
    right: 0;
    left: 300px;
}