/* css 코드 */

.Show{
    max-height: 97%;
    overflow: auto;
}

.review-div{
    display: flex;
    width: 90%;
    padding: 10px;
    min-height: 95px;
    border: 1px solid #e8ebee;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.03);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.03);
    background-color: #fff;
}

.review-div ~ .review-div{
    margin-top: 16px;
}

.review-star{
    display: flex;
    align-items: center;
}

.Star{
    width: 80px;
}

.review-contents{
    width: 100%;
    font-size: 18px;
    margin: 0 16px;
}

.review-value{
    word-break: break-all;
}

.review-util{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    word-break: keep-all;
    white-space: nowrap;
    align-items: flex-end;
}