/* css 코드 */

/* 사이드바 */
html, body{
    margin: 0px;
    width: 100%;
    height: 100%;
}

.sidebar{
    position: absolute;
    width: 300px;
    height: 100%;
    z-index: 10;
}

.buttons{
    width: 100%;
    padding-left: 10px;
    margin-top: 25px;
}

.selectUrl{
    display: flex;
    align-items: center;
    width: 260px;
    padding-top: 7px;
    padding-bottom: 7px;
    margin-left: 20px;
    padding-left: 10px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    color: rgba(0,0,0,0.7);
}

.selectUrl:hover{
    border-radius: 6px;
    background-color: rgba(214, 214, 214, 0.2);
}

.selectUrl ~ .selectUrl{
    margin-top: 6px;
}

.selectUrl img{
    width: 25px;
    margin-right: 8px;
}

.Admin_Logo{
    width: 260px;
    margin-left: 30px;
    padding-top: 25px;
}

.Admin_Logo img{
    width: 100%;
    display: block;
}

.logout-button{
    position: fixed;
    bottom: 35px;
    left: 40px;
}

.logout-button button{
    border: 0;
    background-color: transparent;
    border-bottom: 1px solid #999;
    padding: 0;
    color: #999;
    font-size: 14px;
}

.content{
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    padding-left: 325px;
    padding-right: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
    width: 100%;
    box-sizing: border-box;
}

.base{
    position: relative;
    height: 100%;
    width: 100%;
    background-color: rgba(214, 214, 214, 0.1);
    padding: 25px;
    border-radius: 6px;
}

.new-alarm{
    width: 30px;
    display: none;
    text-align: center;
    justify-content: center;
}

.new-alarm img{
    width: 10px;
}

.new-reply{
    width: 30px;
    display: none;
    text-align: center;
    justify-content: center;
}

.new-reply img{
    width: 10px;
}