<!-- Base.html 상속 -->
{% extends 'Admin_List.html' %}
<!-- static 파일 선언-->
{% load static %}

<!-- css 선언 -->
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/Admin_Request.css' %}">
{% endblock css %}

<!-- Body 태그 내용 -->
{% block content %}
<div class="Show">
    <div class="ml-3">
        <input type="button" class="btn btn-secondary btn-sm" value="돌아가기" onclick="move_to_admin_list();" />
    </div>
    <input type="hidden" id="r_num" value="{{ request.r_num }}" />
    <div class="form-group row mt-4">
        <span class="col-sm-1 col-form-label pt-0 font-weight-bold text-right">이름 :</span>
        <span class="col-sm-11">{{ request.client_name }}</span>
    </div>
    <div class="form-group row">
        <span class="col-sm-1 col-form-label pt-0 font-weight-bold text-right">전화번호 :</span>
        <span class="col-sm-11">{{ request.client_phone }}</span>
    </div>
    <div class="form-group row">
        <span class="col-sm-1 col-form-label pt-0 font-weight-bold text-right">주소 :</span>
        <span class="col-sm-11">{{ request.request_address }}</span>
    </div>
    <div class="form-group row">
        <span class="col-sm-1 col-form-label pt-0 font-weight-bold text-right">크기 :</span>
        <span class="col-sm-11"><span id="requestSize">{{ request.request_size }}</span> 평 / <span id="requestSizeM"></span> m<sup>2</sup></span>
    </div>
    <div class="form-group row">
        <span class="col-sm-1 col-form-label pt-0 font-weight-bold text-right">요청 날짜 :</span>
        <span class="col-sm-11">{{ request.request_date }}</span>
    </div>
    {% if items%}
    <div class="form-group row">
        <span class="col-sm-1 col-form-label pt-0 font-weight-bold text-right">청소 항목 :</span>
        <span class="col-sm-11">
            {% for index, temp in items %}
            {% if index != 0 %}
            ,&nbsp;
            {% endif %}
            {{ temp.clean }}
            {% endfor %}
        </span>
    </div>
    {% endif %}
    {% if constructs %}
    <div class="form-group row">
        <span class="col-sm-1 col-form-label pt-0 font-weight-bold text-right">시공 항목 :</span>
        <span class="col-sm-11">
            {% for index, temp in constructs %}
            {% if index != 0 %}
            ,&nbsp;
            {% endif %}
            {{ temp.construct }}
            {% endfor %}
        </span>
    </div>
    {% endif %}
    {% if request.request_memo != "" %}
    <div class="form-group row">
        <span class="col-sm-1 col-form-label pt-0 font-weight-bold text-right">요청 사항 :</span>
        <span class="col-sm-11">{{ request.request_memo }}</span>
    </div>
    {% endif %}
    <div class="form-group">
        <span class="col-sm-1 col-form-label pt-0 font-weight-bold text-right">관리자 메모</span>
        <textarea class="form-control ml-3 admin-memo" id="adminMemo">{{ request.admin_memo }}</textarea>
    </div>
    <div class="ml-3 mt-3 pt-3 mr-5 reply-shape">
        {% if comments %}
        {% for temp in comments %}
        <div class="reply-div">
            <input type="hidden" value="{{ temp.id }}" />
            <div class="reply-contents">
                <b>{{ temp.writer }}</b>
                <div class="base_reply">
                    <span>{{ temp.reply_value }}</span>
                </div>
                {% if temp.writer != request.client_name %}
                <div class='update_relpy'>
                    <input type="text" class="form-control" value="{{ temp.reply_value }}" />
                </div>
                {% endif %}
            </div>
            {% if temp.writer != request.client_name %}
            <div class="base_reply">
                <input type="button" class="btn btn-outline-success btn-sm" value="수정" onclick="comment_update(this);" />
                <input type="button" class="btn btn-outline-danger btn-sm mt-1" value="삭제" onclick="comment_delete(this);" />
            </div>
            <div class='update_relpy'>
                <input type="button" class="btn btn-outline-primary btn-sm" value="확인" onclick="update_submit(this);" />
                <input type="button" class="btn btn-outline-warning btn-sm mt-1" value="취소" onclick="update_cancel();" />
            </div>
            {% else %}
            <div class="request_reply">
                <input type="button" class="btn btn-outline-danger btn-sm" value="삭제" onclick="comment_delete(this);" />
            </div>
            {% endif %}
        </div>
        {% endfor%}
        {% endif %}
    </div>
    <div class="ml-3 pt-2 mr-5 input-reply">
        <div class="form-group">
            <span class="col-sm-1 col-form-label pt-0 font-weight-bold text-right">잘나가는 청소</span>
            <div class="input-group is-invalid mt-1">
                <div class="reply-input pr-2">
                    <input class="form-control ml-3" type="text" id="comment" />
                </div>
                <div class="input-group-append reply-button-div pr-3">
                    <input class="btn btn-primary reply-button" type="button" value="댓글달기" onclick="request_reply()" />
                </div>
            </div>
        </div>
    </div>
    
</div>
{% endblock content %}

<!-- javascript 선언 -->
{% block js %}
<script type="text/javascript" src="{% static 'js/Admin_Request.js' %}"></script>
{% endblock js %}