<!-- static 파일 선언-->
{% load static %}
<!DOCTYPE html>
<html>

    <head>
        <!-- title 지정 -->
        <title>Jal Clean</title>

        <!-- Favicon 아이콘 설정 -->
        <link rel="shortcut icon" href="{% static 'favicon/favicon.ico' %}" />

        <!-- script 선언 내용 -->
        {% block script %}
        {% endblock script %}

        <!-- jquery 선언 -->
        <script src="http://code.jquery.com/jquery-latest.js"></script>

        <!-- css 선언 내용 -->
        {% block css %}
        {% endblock css %}

        <!-- 합쳐지고 최소화된 최신 CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

        <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

        <link rel="stylesheet" type="text/css" href="{% static 'css/Admin_List.css' %}">
    </head>

    <body>
        <!-- 사이드바 -->
        <div class="sidebar">
            <div class="buttons">
                <p/>
                <span class="selectUrl" onclick="change_list('all');">
                    <img src="{% static 'img/All.png' %}">
                    <span>전체 요청</span>
                </span>
                <p/>
                <span class="selectUrl" onclick="change_list('new');">
                    <img src="{% static 'img/New.png' %}">
                    <span>새로운 요청</span>
                </span>
                <p/>
                <span class="selectUrl" onclick="change_list('reply');">
                    <img src="{% static 'img/Reply.png' %}">
                    <span>댓글 알림</span>
                </span>
                <p/>
                <span class="selectUrl" onclick="change_list('checked');">
                    <img src="{% static 'img/Checked.png' %}">
                    <span>확인한 요청</span>
                </span>
                <p/>
                <span class="selectUrl" onclick="show_review();">
                    <img src="{% static 'img/Review.png' %}">
                    <span>리뷰</span>
                </span>
            </div>
            <div class="Admin_Logo">
                <input type="button" class="btn btn-primary" value="Log out" onclick="logout();"/>
                <img src="{% static 'img/Jar_Logo_2.png' %}" onclick="move_to_main();">
            </div>
        </div>
        
        <!-- 컨텐츠 -->
        <div class="content">
            <div class="base">
                {% block content %}
                {% endblock content %}
            </div>
        </div>
    </body>

    <!-- javascript 선언 내용 -->
    {% block js %}
    {% endblock js %}

    <script type="text/javascript" src="{% static 'js/Admin_List.js' %}"></script>

</html>