<!-- static 파일 선언-->
{% load static %}
<!DOCTYPE html>
<html>

    <head>
        <!-- title 지정 -->
        <title>종합청소전문업체, 잘나가는 청소</title>

        <!-- Favicon 아이콘 설정 -->
        <link rel="shortcut icon" href="{% static 'favicon/favicon.ico' %}" />

        <!-- script 선언 내용 -->
        {% block script %}
        {% endblock script %}

        <!-- jquery 선언 -->
        <script src="http://code.jquery.com/jquery-latest.js"></script>

        <!-- css 선언 내용 -->
        {% block css %}
        {% endblock css %}

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
        
        <link rel="stylesheet" type="text/css" href="{% static 'css/Admin_List.css' %}">

        <meta name="naver-site-verification" content="d518f1f15940e6c1d079dc5ecb1bb1aa65668779" />
        <meta name="description" content="젊은 인력들로 구성된 종합청소전문업체 잘나가는청소" />
    </head>

    <body>
        <!-- 사이드바 -->
        <div class="sidebar">
            <div class="Admin_Logo">
                <img src="{% static 'img/Jar_Logo_2.png' %}" onclick="move_to_main();">
            </div>
            <div class="buttons">
                <span id="all" class="selectUrl" onclick="change_list('all');">
                    <img src="{% static 'img/All.png' %}">
                    <span>전체 요청</span>
                </span>
                <span id="new" class="selectUrl" onclick="change_list('new');">
                    <img src="{% static 'img/New.png' %}">
                    <span>새로운 요청</span>
                    <div class="new-alarm">
                        <img src="{% static 'img/Alarm.png' %}">
                    </div>
                </span>
                <span id="reply" class="selectUrl" onclick="change_list('reply');">
                    <img src="{% static 'img/Reply.png' %}">
                    <span>댓글 알림</span>
                    <div class="new-reply">
                        <img src="{% static 'img/Alarm.png' %}">
                    </div>
                </span>
                <span id="checked" class="selectUrl" onclick="change_list('checked');">
                    <img src="{% static 'img/Checked.png' %}">
                    <span>확인한 요청</span>
                </span>
                <span id="review" class="selectUrl" onclick="show_review();">
                    <img src="{% static 'img/Review.png' %}">
                    <span>리뷰</span>
                </span>
            </div>
            <div class="logout-button">
                <button type="button" onclick="logout();">로그아웃</button>
            </div>
        </div>
        
        <!-- 컨텐츠 -->
        <div class="content">
            <div class="base">
                {% block content %}
                {% endblock content %}
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
        <!-- javascript 선언 내용 -->
        {% block js %}
        {% endblock js %}

        <script type="text/javascript" src="{% static 'js/Admin_List.js' %}"></script>

    </body>
</html>