<!-- Base.html 상속 -->
{% extends 'Admin_List.html' %}
<!-- static 파일 선언-->
{% load static %}

<!-- css 선언 -->
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/Admin_Review.css' %}">
{% endblock css %}

<!-- content div 내용 -->
{% block content %}
<div>
    {% if data %}
    {% for temp in data %}
    <div>
        <img src="/static/img/Star{{temp.scope}}.png"/>
        {{ temp.writer }}
        <br />
        {{ temp.review_value }}
        {{ temp.review_date}}
        <input type="button" value="삭제" onclick="delete_review(this)"/>
        <input type="hidden" value="{{temp.id}}"/>
    </div>
    {% endfor %}
    {% else %}
    <div>
        <b>리뷰가 없습니다</b>
    </div>
    {% endif %}
</div>
{% endblock content %}

<!-- javascript 선언 -->
{% block js %}
<script type="text/javascript" src="{% static 'js/Admin_Review.js' %}"></script>
{% endblock js %}